@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap');
/* reset */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}
html,
body {
	background: black;
	color: white;
	font-family: 'Familjen Grotesk', sans-serif;
}
a {
	text-decoration: none;
	color: white;
}
img {
	display: block;
	max-width: 100%;
	max-height: auto;
}
button {
	cursor: pointer;
}
/* reset end */
